
body{
    max-width: 760px;
    padding: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightyellow;
    height:100%
}

#en-tete{
    max-width: 760px;
    min-width: 400px;
    background-color: rgb(230, 230, 230);
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 4px; 
}

#titre{
    text-align: center;
}

#photo-presentation{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.photo-presentation{
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

#presentation{
    text-align: center;
    min-width: 52px;
    max-width: 250px;
    background-color:  rgb(230, 230, 230);
    display: table;
}

#paragraphe{
    display: table-cell;
    vertical-align: middle;
}

#corps{
    max-width: 760px;
    min-width: 400px;
    background-color: rgb(230, 230, 230);
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    
}

.secteur{
    max-width: 300px;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
}

#texte-premier-secteur{
    
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

#premier-secteur{
    display: flex;
    flex-direction: column;
} 

#texte{
    background-color: white;
    max-width: 300px;
    min-width: 150px;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    padding-left: 5px;
    padding-right: 5px;
}
    
#deuxieme-secteur{ 
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-bottom: 20px;
}

#lettreMotivation{
    text-align: center;
    padding-bottom: 30px;
    max-width: 300px;
    border-width: 3px;
    border-radius: 10px; 
    border-style: solid; 
    border-color: black;
    background-color: white;
}


@media(max-width: 650px){
    #corps{
            max-width: 760px;
            min-width: 400px;
            background-color: rgb(230, 230, 230);
            border: 3px;
            border-style: solid;
            border-color: black;
            border-radius: 4px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
    }
    .titreG{
        text-align: center;
    }
}

.clear{
    clear: both;
    height: 0px;
}